<div class="c-full">
  <div class="c-medium">
    <div class="tituloProducto">
      <h1>Shadow of the Tomb Raider: Definitive Edition</h1>
    </div>
    <div class="c-categoria">
      <p>⭐⭐⭐⭐⭐</p>
      <p>Buenas batallas contra jefes</p>
      <p>Ideal para principiantes</p>
    </div>
    <div class="c-juego">
      <!-- Video e imagenes -->
       <div class="c-imagenes">
        <!-- Aqui puedo implementar el carousel -->
         <img src="https://cdn1.epicgames.com/offer/4b5461ca8d1c488787b5200b420de066/egs-shadowofthetombraiderdefinitiveedition-eidosmontralcrystaldynamicsnixxessoftware-s4-1200x1600-7ee40d6fa744_1200x1600-950cdb624cc75d04fe3c8c0b62ce98de?h=480&quality=medium&resize=1&w=360" alt="">
       </div>
       <div class="c-descripcion">
       </div>
    </div>
    <div class="c-info">
      <!-- Precio del juego, descuentos, BTN comprar, carrito, requerimientos etc. -->
    </div>

    <div class="c-valoracion">
      <!-- Aqui se pone la valoracion del juego otravez y un resumen de los requerimientos del juego -->
    </div>
  </div>
</div>
