<!-- <div class="c-full">
  <div class="c-medium">
    <div class="c-titulo-productos">
      <div style="display: flex; justify-content: space-between;">
        <p>Destacados de las SUPEROFERTAS ></p>
        <div>
          <i class="fa-solid fa-backward"></i>
          <i class="fa-solid fa-forward"></i>
        </div>
      </div>
    </div>

    <div class="c-product">
      <div class="c-p-img">
        <img src="https://cdn1.epicgames.com/offer/4750c68b2bfa4f43933b81cfd5cc510c/EGS_EASPORTSFC24StandardEdition_EACanada_S2_1200x1600-5ecbb77fd9c0601ef34c4a988120fc42?h=480&quality=medium&resize=1&w=360" alt="">
      </div>
      <div class="info">
        <p style="font-weight: 700; ">Juego base</p>
        <p style="font-weight: 700; ">Grand Theft Auto V:Premium Edition</p>
        <div class="precios">
          <div class="c-descuento">
            <p style="background-color: cornflowerblue; padding: 6px; border-radius: 4px; font-weight: 700; ">-50 %</p>
          </div>
          <div class="c-cantidad">
            <p>599 MXN</p>
            <p>219,80 MXN</p>
          </div>
        </div>
      </div>
    </div>



  </div>
</div> -->
