<!-- <app-libraries></app-libraries> -->
<div class="banner-container">
    <div class="banner-content">
        <!-- <img class="rotar-item" src="/assets/items/gear1.png" alt=""> -->
        <div class="banner-text">
            <div class="banner-title">
                <h1 id="banner-ghostgames">GhostGames </h1>    
            </div>
            <div class="banner-description">
                <!-- <p>En GhostGames, te invitamos a explorar un vasto universo de videojuegos. Desde los clásicos que marcaron una era hasta las últimas novedades, nuestro catálogo ofrece algo para cada tipo de jugador. Sumérgete en emocionantes aventuras, desafía tus habilidades y descubre nuevos mundos. Aquí, cada juego es una nueva historia esperando ser contada. ¡Únete a nuestra comunidad y empieza tu próxima gran aventura hoy mismo!</p> -->
                <p>Sumérgete en emocionantes aventuras, desafía tus habilidades y descubre nuevos mundos.</p>
            </div>
            <div class="banner-button-info">
                 <button id="banner-boton" type="button">Explorar más</button>
            </div>
        </div>
    </div>
</div>

<div class="titles-container">
   

    <div class="cards-container">

        <div class="cards-titulo">
            <h1 class="cards-h1">Próximos Juegos</h1>
        </div>

        <div class="cards-content">
        
            <div class="tarjeta">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                    <!-- <img class="tarjeta-imagen"alt=""> -->
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis? Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>
    
            <div class="tarjeta">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                    <!-- <img class="tarjeta-imagen"alt=""> -->
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis? Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>
    
            <div class="tarjeta">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                    <!-- <img class="tarjeta-imagen"alt=""> -->
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis? Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>
    
            <div class="tarjeta">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                    <!-- <img class="tarjeta-imagen"alt=""> -->
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis? Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>
            
            <div class="tarjeta">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                    <!-- <img class="tarjeta-imagen"alt=""> -->
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis? Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>
            
        </div>

    </div>

    
</div>


<div class="coleccion-m-container">
    <div class="coleccion-content">
        <div class="coleccion-info">
            <h3 id="coleccion-h3">Solo Hoy</h3>
            <h1 id="coleccion-h1">Colección de Juegos</h1>
            <p id="coleccion-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, harum ut eos commodi nostrum veniam quo facere magni! Pariatur, sed.</p>
            <button id="coleccion-button" type="button"><li class="fa-regular fa-bars"></li></button>
        </div>
        <div class="coleccion-card">
            
            <div class="tarjeta" style="width: 27%;">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                    <!-- <img class="tarjeta-imagen"alt=""> -->
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis? Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>

            <div class="tarjeta" style="width: 27%;">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                    <!-- <img class="tarjeta-imagen"alt=""> -->
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis? Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>

            <div class="tarjeta" style="width: 27%;">
                <div>
                    <h1 class="tarjeta-h1">Explora una gran diversidad de Juegos</h1>
                </div>
                <div>
                    <img class="tarjeta-imagen" src="assets/imagenes/accion4.jpg" alt="">
                    <!-- <img class="tarjeta-imagen"alt=""> -->
                </div>
                <div>
                    <p class="tarjeta-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, corporis? Excepturi vitae neque eius minima dicta ipsa dolores amet aliquid.</p>
                </div>
            </div>
        </div>
    </div>
</div>