<div class="cont-buscador">
  <div class="c-buscador-m">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="" id="input-buscador" placeholder="Buscar en la tienda">
    <a href="" class="link-blanco">Descubrir</a>
    <a href="" class="link-blanco">Explorar</a>
    <a href="" class="link-blanco">Noticias</a>
  </div>
</div>


<!-- <div class="cont-buscador">
  <div class="c-buscador-m">
      <div id="icon-buscador">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="" id="input-buscador" placeholder="Buscar en la tienda">
      </div>
        <a href="" class="link-blanco">Descubrir</a>
        <a href="" class="link-blanco">Explorar</a>
        <a href="" class="link-blanco">Noticias</a>
    </div>
</div> -->
